Projects.NETCore.Aws/ExampleProject.Beste.GameServer.7days/Beste.GameServer.SDaysTDie/Resources/settings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Endpoints">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Endpoint" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Host"/>
                    <xs:element type="xs:string" name="Port"/>
                    <xs:element type="xs:string" name="Scheme"/>
                    <xs:element type="xs:string" name="StoreName"/>
                    <xs:element type="xs:string" name="StoreLocation"/>
                    <xs:element type="xs:string" name="FilePath"/>
                    <xs:element type="xs:string" name="Password"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>